<!-- <style>
    #container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    @media (max-width: 900px) {
        #container{
            flex-direction: column;
            
        }
        
    }
    #c{
        margin: 20px;
        box-shadow: 5px 5px 10px gray;
            border-radius: 10px;
            background-color: ivory;
    }
    #post{
        width:80vw;
        background-color: rgba(34, 29, 65, 0.4);
        color: white;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 5px 5px 10px darkgrey;
    }


</style> -->

<div style="text-align: center;" id="container">
    
</div>