<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <script defer src="../js/jquery-3.4.1.js"></script>
    <script defer src="../js/popper.js"></script>
    <script defer src="../js/bootstrap.js"></script>
    <script defer src="../app/singlepost.js"></script>
</head>
<body style="text-align: center;">
    <div id="navbar"></div>
    <div style="text-align: center;" id="content"></div>
    <div id="footer"></div>
  </body>
<!-- <body>
    <div id="main">
        <div id="nav"></div>
        <nav class="navbar navbar-light"id="bb">
            <form class="form-inline">
              <a href="/P/createpost.html"><button class="btn btn-info" type="button" >Create New Post</button></a>
              
            </form>
           
          </nav>
        <div id="content"></div>
    </div>
    
</body> -->
</html>